
@{
    ViewBag.Title = "AddDepartment";
}

<h2>AddDepartment</h2>

<div>
    <form action="" method="post">
        <input type="number" name="Id" class="form-control" placeholder="Department Id">
        <input type="text" name="DeptName" class="form-control" placeholder="DeptName" >
    </form>
</div>