
@{
    ViewBag.Title = "AllDepartment";
}

<h2>AllDepartment</h2>

<div class="container">
    <table class="table table-condensed">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>

    </table>
</div>